serviceReference/wsRicettaRicerca/TipiDatiRicercaErogatore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://tipodati.xsd.dem.sanita.finanze.it" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tipodati.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Versione 1.2</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="nreType">
    <xs:restriction base="xs:string">
      <xs:minLength value="15" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pwdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoOperazioneType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dichTargaDoppiaType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codRegioneType">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codSpecializzazioneType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cfMedicoType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoInvioType">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoRicettaType">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoPrescType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoVisitaType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="indicPrescType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prioritaType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataOraType">
    <xs:restriction base="xs:string">
      <xs:minLength value="19" />
      <xs:maxLength value="19" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codEsitoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="string256Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="integerType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="dettaglioSinteticoRicettaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="nre" type="nreType">
        <xs:annotation>
          <xs:documentation>Numero Ricetta Elettronica</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="statoRicetta" type="stringType">
        <xs:annotation>
          <xs:documentation>Stato della ricetta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataPresaCarico" type="dataOraType">
        <xs:annotation>
          <xs:documentation>Data di presa in carico della ricetta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataErogazione" type="dataOraType">
        <xs:annotation>
          <xs:documentation>Data di erogazione della ricetta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="storico" type="stringType">
        <xs:annotation>
          <xs:documentation>Campo che indica se la ricetta ha informazioni nello storico dovuti a precedenti annullamenti</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elencoRicetteType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DettaglioSinteticoRicetta" type="dettaglioSinteticoRicettaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dettaglioSinteticoStoricoNreType">
    <xs:sequence>
      <xs:element minOccurs="0" name="idStorico" type="stringType">
        <xs:annotation>
          <xs:documentation>Id dello storico</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataStorico" type="dataOraType">
        <xs:annotation>
          <xs:documentation>Data di storicizzazione della ricetta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elencoStoricoNreType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DettaglioSinteticoStoricoNreRicetta" type="dettaglioSinteticoStoricoNreType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dettaglioPrescrizioneVisualRicettaType">
    <xs:sequence>
      <xs:element name="statoPresc" type="stringType">
        <xs:annotation>
          <xs:documentation>Stato della prestazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codProdPrest" type="stringType">
        <xs:annotation>
          <xs:documentation>Codice prodotto farmaceutico (AIC) o codice prestazione specialistica</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="descrProdPrest" type="stringType">
        <xs:annotation>
          <xs:documentation>Descrizione testuale del prodotto farmaceutico o della prestazione specialistica</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codGruppoEquival" type="stringType">
        <xs:annotation>
          <xs:documentation>Codice del gruppo equivalente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="descrGruppoEquival" type="stringType">
        <xs:annotation>
          <xs:documentation>Descrizione testuale del gruppo equivalente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="testoLibero" type="stringType">
        <xs:annotation>
          <xs:documentation>Campo che indica di tenere conto solamente della descrizione inserita in descrTestoLiberoNote</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="descrTestoLiberoNote" type="stringType">
        <xs:annotation>
          <xs:documentation>Descrizione testuale della prestazione specialistica</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nonSost" type="stringType">
        <xs:annotation>
          <xs:documentation>Non sostituibilita' del farmaco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="motivazNote" type="stringType">
        <xs:annotation>
          <xs:documentation>Motivazione della non sostituibilita'</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codMotivazione" type="stringType">
        <xs:annotation>
          <xs:documentation>Codici di motivazione di non sostituibilita' di un farmaco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="notaProd" type="stringType">
        <xs:annotation>
          <xs:documentation>Nota AIFA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantita" type="integerType">
        <xs:annotation>
          <xs:documentation>Quantita' di confezioni o di prestazioni specialistiche prescritte</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="prescrizione1" type="stringType">
        <xs:annotation>
          <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="prescrizione2" type="stringType">
        <xs:annotation>
          <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codProdPrestErog" type="stringType">
        <xs:annotation>
          <xs:documentation>Codice AIC del farmaco o codice della prestazione effettivamente erogata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="descrProdPrestErog" type="stringType">
        <xs:annotation>
          <xs:documentation>Descrizione del farmaco o della prestazione effettivamente erogata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="flagErog" type="stringType">
        <xs:annotation>
          <xs:documentation>Riferito a cio' che e' stato inserito nel campo codProdPrestErog: A - codice AIC aggiornato, S - sostituzione AIC, V - variazione codice prestazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="motivazSostProd" type="stringType">
        <xs:annotation>
          <xs:documentation>Motivazione in caso di valore “S” in flagErog: 1 - etico con generico, 2 - generico con generico, 3 - generico irreperibile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="targa" type="stringType">
        <xs:annotation>
          <xs:documentation>Numero identificativo univoco della singola confezione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dichTargaDoppia" type="dichTargaDoppiaType">
        <xs:annotation>
          <xs:documentation>Dichiarazione del farmacista di erogazione di un farmaco il cui codice targatura e' gia' esistente presso il SAC</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codBranca" type="stringType">
        <xs:annotation>
          <xs:documentation>Codice della branca specialistica della prestazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tipoErogazioneFarm" type="stringType">
        <xs:annotation>
          <xs:documentation>Tipologia di erogazione dei farmaci. Valori ammessi: C - distribuzione per conto, D - distribuzione diretta, A - assist integrativa domiciliare, I - assist integrativa</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="prezzo" type="stringType">
        <xs:annotation>
          <xs:documentation>Prezzo al pubblico del prodotto farmaceutico o Tariffa della prestazione specialistica </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ticketConfezione" type="stringType">
        <xs:annotation>
          <xs:documentation>Ticket della confezione farmaceutica</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="diffGenerico" type="stringType">
        <xs:annotation>
          <xs:documentation>Differenza con generico della confezione farmaceutica</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="quantitaErogata" type="stringType">
        <xs:annotation>
          <xs:documentation>Quantita' effettivamente erogata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataIniErog" type="dataOraType">
        <xs:annotation>
          <xs:documentation>Data di inizio erogazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataFineErog" type="dataOraType">
        <xs:annotation>
          <xs:documentation>Data di fine erogazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="prezzoRimborso" type="stringType">
        <xs:annotation>
          <xs:documentation>Prezzo di rimborso al laboratorio</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="onereProd" type="stringType">
        <xs:annotation>
          <xs:documentation>Onere di distribuzione del prodotto farmaceutico erogato in DPC</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="scontoSSN" type="stringType">
        <xs:annotation>
          <xs:documentation>Sconto riconosciuto al SSN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extraScontoIndustria" type="stringType">
        <xs:annotation>
          <xs:documentation>Sconto obbligatorio dello 0,6% sul prezzo al pubblico lordo con IVA a carico dell'industria produttrice, per i medicinali erogati in regime SSN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extraScontoPayback" type="stringType">
        <xs:annotation>
          <xs:documentation>Sconto che il SSN nel procedere alla corresponsione di quanto dovuto alle farmacie trattiene per un importo corrispondente allo 0,6% del prezzo al pubblico comprensivo dell'IVA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extraScontoDL31052010" type="stringType">
        <xs:annotation>
          <xs:documentation>Sconto introdotto nel DL 31.05.2010</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codPresidio" type="stringType">
        <xs:annotation>
          <xs:documentation>Codice del presidio di erogazione della prestazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codReparto" type="stringType">
        <xs:annotation>
          <xs:documentation>Codice del reparto di erogazione della prestazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dispFust1" type="string256Type">
        <xs:annotation>
          <xs:documentation>Campo per futuro utilizzo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dispFust2" type="string256Type">
        <xs:annotation>
          <xs:documentation>Campo per futuro utilizzo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dispFust3" type="string256Type">
        <xs:annotation>
          <xs:documentation>Campo per futuro utilizzo</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elencoDettagliPrescrVisualRicettaType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DettaglioPrescrizioneVisualRicetta" type="dettaglioPrescrizioneVisualRicettaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elencoDettagliPrescrVisualRicettaStoricoType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DettaglioPrescrizioneVisualRicettaStorico" type="dettaglioPrescrizioneVisualRicettaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="erroreRicettaType">
    <xs:sequence>
      <xs:element name="codEsito" type="codEsitoType" />
      <xs:element minOccurs="0" name="esito" type="stringType" />
      <xs:element minOccurs="0" name="progPresc" type="stringType" />
      <xs:element minOccurs="0" name="tipoErrore" type="stringType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elencoErroriRicetteType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ErroreRicetta" type="erroreRicettaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunicazioneType">
    <xs:sequence>
      <xs:element name="codice" type="stringType">
        <xs:annotation>
          <xs:documentation>Codice della comunicazione di servizio</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messaggio" type="stringType">
        <xs:annotation>
          <xs:documentation>Messaggio di servizio</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elencoComunicazioniType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Comunicazione" type="comunicazioneType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>