serviceReference/wsRicettaRicerca/VisualizzaRicettaRicevuta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://visualizzaricettaricevuta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodati.xsd.dem.sanita.finanze.it" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://visualizzaricettaricevuta.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="TipiDatiRicercaErogatore.xsd" namespace="http://tipodati.xsd.dem.sanita.finanze.it" />
  <xs:annotation>
    <xs:documentation>Versione 1.2</xs:documentation>
  </xs:annotation>
  <xs:element name="VisualizzaRicettaRicevuta">
    <xs:annotation>
      <xs:documentation>Elemento base della ricevuta per la richiesta di visualizzazione della ricetta prescritta dal medico da parte dell'erogatore</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nre" type="td:nreType">
          <xs:annotation>
            <xs:documentation>Numero Ricetta Elettronica</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="cfMedico1" type="td:cfMedicoType">
          <xs:annotation>
            <xs:documentation>Codice fiscale del medico associato all'NRE inviato o attribuito in fase di registrazione</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="cfMedico2" type="td:cfMedicoType">
          <xs:annotation>
            <xs:documentation>Codice fiscale del medico che compila la ricetta elettronica</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codRegione" type="td:codRegioneType">
          <xs:annotation>
            <xs:documentation>Codice Regione / Provincia Autonoma del medico a cui si vuole attribuire un NRE</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codASLAo" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Codice ASL del medico a cui si vuole attribuire un NRE</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codStruttura" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Codice struttura del medico a cui si vuole attribuire un NRE</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codSpecializzazione" type="td:codSpecializzazioneType">
          <xs:annotation>
            <xs:documentation>Specializzazione del medico a cui si vuole attribuire un NRE</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="testata1" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="testata2" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tipoRic" type="td:tipoRicettaType">
          <xs:annotation>
            <xs:documentation>Tipologia della ricetta compilata</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codiceAss" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Codice Fiscale/STP/ENI/altro che rappresenta l'assistito per cui viene compilata la ricetta</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="cognNome" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Cognome e nome dell'assistito </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="indirizzo" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Indirizzo dell'assistito</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="oscuramDati" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Dati sensibili oscurati</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="numTessSasn" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Numero tessera assistenza SASN</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="socNavigaz" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Societa' di navigazione</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tipoPrescrizione" type="td:tipoPrescType">
          <xs:annotation>
            <xs:documentation>F - Farmaceutica, P - Specialistica</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ricettaInterna" type="td:stringType">
          <xs:annotation>
            <xs:documentation>La ricetta per prestazioni specialistiche prescritta internamente ad una struttura pubblica deve essere erogata all???interno della stessa struttura</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codEsenzione" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Codice esenzione riportato in ricetta</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="nonEsente" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Campo che indica se l'assistito e' esente oppure no</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reddito" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Campo che indica se l'assistito e' esente per reddito oppure no</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codDiagnosi" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Codice diagnosi o del sospetto diagnostico</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="descrizioneDiagnosi" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Descrizione della diagnosi o del sospetto diagnostico in testo libero</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dataCompilazione" type="td:dataOraType">
          <xs:annotation>
            <xs:documentation>Data compilazione della ricetta, formato aaaa-mm-gg HH:mm:ss</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tipoVisita" type="td:tipoVisitaType">
          <xs:annotation>
            <xs:documentation>A - Ambulatoriale, D - Domiciliare</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dispReg" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Disposizioni regionali specifiche</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="provAssistito" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Provincia di residenza dell'assistito</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="aslAssistito" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Asl di residenza dell'assistito</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="indicazionePrescr" type="td:indicPrescType">
          <xs:annotation>
            <xs:documentation>S - Suggerita, H - Ricovero</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="altro" type="td:indicPrescType">
          <xs:annotation>
            <xs:documentation>Indicazione di trattamento di una patologia cronica o non cronica per farmaceutica, altro per specialistica</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="classePriorita" type="td:prioritaType">
          <xs:annotation>
            <xs:documentation>Classe di priorita' della prescrizione</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="statoEstero" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Stato del soggetto assicurato da istituzioni estere</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="istituzCompetente" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Istituzione competente del soggetto assicurato da istituzioni estere</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="numIdentPers" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Numero di identificazione personale del soggetto assicurato da istituzioni estere</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="numIdentTess" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Numero di identificazione della tessera del soggetto assicurato da istituzioni estere</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dataNascitaEstero" type="td:dataOraType">
          <xs:annotation>
            <xs:documentation>Data di nascita del soggetto assicurato da istituzioni estere nel formato aaaa-mm-gg</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dataScadTessera" type="td:dataOraType">
          <xs:annotation>
            <xs:documentation>Data scadenza della tessera del soggetto assicurato da istituzioni estere nel formato aaaa-mm-gg</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="statoProcesso" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Stato della ricetta</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="chiusuraDiff" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Chiusura erogazione a posteriori</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="chiusuraForzata" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Dichiarazione di erogazione completa di una ricetta elettronica, nonostante erogazione parziale di quanto in essa contenuto, su esplicita richiesta dell???assistito</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="prescrizioneFruita" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Dichiarazione di effettiva fruizione della prestazione specialistica</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tipoErogazioneSpec" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Tipo erogazione della prestazione specialistica</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ticket" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Ammontare della quota di compartecipazione alla spesa sanitaria per farmaceutica</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="quotaFissa" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Quota fissa del ticket per prestazione specialistica </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="franchigia" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Franchigia del ticket per prestazione specialistica </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="galDirChiamAltro" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Ammontare del prezzo del galenico, del diritto di chiamata spettante alla farmacia in servizio notturno </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dataPresaCarico" type="td:dataOraType">
          <xs:annotation>
            <xs:documentation>Data di presa in carico della ricetta, formato aaaa-mm-gg HH:mm:ss</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dataSospensione" type="td:dataOraType">
          <xs:annotation>
            <xs:documentation>Data di sospensione della ricetta, formato aaaa-mm-gg HH:mm:ss</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dataErogazione" type="td:dataOraType">
          <xs:annotation>
            <xs:documentation>Data di erogazione della ricetta, formato aaaa-mm-gg HH:mm:ss</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dispRic1" type="td:string256Type">
          <xs:annotation>
            <xs:documentation>Campo per futuro utilizzo</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dispRic2" type="td:string256Type">
          <xs:annotation>
            <xs:documentation>Campo per futuro utilizzo</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dispRic3" type="td:string256Type">
          <xs:annotation>
            <xs:documentation>Campo per futuro utilizzo</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ElencoDettagliPrescrVisualRicetta" type="td:elencoDettagliPrescrVisualRicettaType">
          <xs:annotation>
            <xs:documentation>Elenco singole prescrizioni visualizzazione ricetta</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codAutenticazioneMedico" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Codice di autenticazione che certifica il corretto inserimento da parte del medico della ricetta sul SAC</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="codAutenticazioneErogatore" type="td:stringType">
          <xs:annotation>
            <xs:documentation>Codice di autenticazione per l???erogatore che certifica l???avvenuta transazione</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="codEsitoVisualizzaRicetta" type="td:codEsitoType">
          <xs:annotation>
            <xs:documentation>Codice dell'esito della visualizzazione della ricetta</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ElencoErroriRicette" type="td:elencoErroriRicetteType">
          <xs:annotation>
            <xs:documentation>Ripetizione di ErroreRicetta</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ElencoComunicazioni" type="td:elencoComunicazioniType">
          <xs:annotation>
            <xs:documentation>Ripetizione di Comunicazioni</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>